{% extends 'base.html' %}

{% block content %}
<hr>
<div id="map" style="height: 300px; width: 300px"></div>

<!-- Leaflet maps -->
<script>
    var map = L.map('map').setView([43.5960, 39.7285], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    map.on('click', (event) => {
        let lat = event.latlng.lat
        let longitude = event.latlng.lng
        L.marker([lat, longitude]).addTo(map)
        const coord = {
            'lat': lat,
            'long': longitude,
        }
        fetch(`/get-location/?latitude=${lat}&longitude=${longitude}`)
    })
</script>

<br></br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success btn-lg btn-block" role="button" type="submit" value="Add memory">
</form>

{% endblock %}